.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 15px 15px 15px 15px;
    padding: 15px 15px 15px 15px;
   
}

.label {
    cursor: pointer;
    border: 3px solid orange;
    border-radius: 30px;
    margin: 10px 10px;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
   
    
}

.label:hover {
    background-color: orange;
    color: white;   
}

#imageInput {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 15px 15px 15px 15px;
    padding: 15px 15px 15px 15px;
}

.pluspost {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 10px;
}

.post {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 30px;
}

.post a {
    text-decoration: none;
    color: black
}

.post a:hover {
    text-decoration: none;
    color: black
}

#myImg {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border: 15px solid #f9c74f;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    color: green;
  align-self: center;
margin-top: 5px;
margin-bottom: 35px;
}

label.label input[type="file"] {
    position: absolute;
    top: -1000px;
  }



.button {
    cursor: pointer;
    border: 3px solid #f9c74f;
    background-color: orange;
    color: white;
    border-radius: 30px;
    margin: 10px 10px;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
    text-align: center;    
}

.button:hover {
    cursor: pointer;
    border: 3px solid orange;
    background-color: white;
    color: black;
    border-radius: 30px;
    margin: 10px 10px;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
    text-align: center;    
}
  label.button input[type="button"] {
    position: absolute;
    top: -1000px;
  }

  #post {
      display: flex;
      flex-direction: column;
      
    color: black;
letter-spacing: 3px;  
}


#post h2 {
    letter-spacing: 3px;
    font-size: 20px;
    border-radius: 20px;
border: solid 2px orange;
background-color: orange;
color: white;
padding: 9px;
}

#post h2:hover {
    color: orange;
    background-color: white;
}

#post h1 {
    font-size: 30px;

    color: orange;
}

#post .recipe {
    background-color: #F4845F;
}

#post .food {
    background-color: #F79D65; 
}

#post .diet {
    background-color: #F7B267;
}

#post p {
    background-image: url(img/like.png);
    background-size: contain;
    width: 50px;
    height: 50px;
    font-size:20px;
    display: grid;
    align-items: center;
    color: white;
    letter-spacing: normal;
}
  #post img {
      border-radius: 300px;
      width: 400px;
      height: 400px;
  }