/* sets font family for body */
body {
    font-family: "Quicksand", sans-serif;
}

/* styling the img element */
.profilePics {
    border-radius: 50%;
    border: 12px solid #EC9126;
    box-sizing: border-box;
    max-width: 200px;
}

/* displays img and h1 on same line */
h1 {
display: inline;
}

/* p tag styling */
p {
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 25px;
color: #000000;
}

/* button styling */
button {
background-color: #EC9126;
color: #FFFFFF;
border: none;
border-radius: 25px;
padding: 10px 15px 10px 15px;
margin: 6px;
}